/.thumbnails
*.bat
/bin
/debug
/include
/lib
/share
/tools
/utils/natvis
vcpkg*
!vcpkg.json
*.vs
*.cache
*.ung
/data/.cache_textures
/data/.editor2
/data/.runtimes
/data/.thumbnails
/data/guids.db
/data/root_mount.umount
/data/template_assets/template_material_ball
/source/x64/Debug
/data/template_assets/template_render_settings
/source/html
